{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>4.9 Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="canvas" width="1050px" height="1600px"></canvas>
</body>
<script>
  // getting the URL (you may want to use for Exercise 3)
  var url = window.location.href;
  var socket = new WebSocket(
      'ws://' + window.location.host + '/ws/draw');
  let params = (new URL(document.location)).searchParams;
  let size = params.get('size');

  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");
  var button = document.getElementById("refresh");
  var redCoords = [];
  // generate 20 random x,y positions
  for(i=0; i<20; i++) {
    var x = Math.floor(Math.random()*1050);
    var y = Math.floor(Math.random()*1600);
    redCoords.push([x,y]);
  }
  var nonRedCoords = [];
  // generate 50 random x,y positions
  for(i=0; i<50; i++) {
    var _x = Math.floor(Math.random()*1050);
    var _y = Math.floor(Math.random()*1600);
    nonRedCoords.push([_x,_y]);
  }

  var redCircles = [];
  var colorOrder = [];

    var uid = Date.now() % 10000;
    var color1 = "#" + Math.floor(Math.random()*1000).toString(16);
    var color2 = "#" + Math.floor(Math.random()*1000).toString(16);
    var color3 = "#" + Math.floor(Math.random()*1000).toString(16);
    var myColors = [color1, color2, color3];

    // create hidden object
    ctx.clearRect(0,0,1050,1600);

    redCircle = function(x,y) {
        var radius = Math.floor(20);
        ctx.beginPath();
        ctx.arc(x,y,radius,Math.PI*2,0,false);
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.closePath();
        this.clicked=function(){
          ctx.fillStyle='black';
          ctx.fill();
        }
    }

    // hide hidden object
    function makeWhiteCircle(x, y, radius) {
      ctx.beginPath();
      ctx.arc(x, y, radius, Math.PI*2,0,false);
      ctx.fillStyle = 'white';
      ctx.fill();
      ctx.closePath();
    }

  
  if(size=='small') {
      $(document).ready(function() {
        // generate 20 hidden objects
        for(i=0; i<20; i++) {
          var x = redCoords[i][0];
          var y = redCoords[i][1];
          var newRedCircle = new redCircle(x,y);
          redCircles.push(newRedCircle);
        }
        // generate other objects
        for(i=0; i<50; i++) {
          const randomColor = myColors[Math.floor(Math.random() * myColors.length)];
          var x = nonRedCoords[i][0];
          var y = nonRedCoords[i][1];
          nonRedCoords.push([x,y]);
          colorOrder.push(randomColor);
          var radius = Math.floor(20);
          ctx.beginPath();
          ctx.arc(x,y,radius,Math.PI*2,0,false);
          ctx.fillStyle = randomColor;
          ctx.fill();
          ctx.closePath();
        }

        $('#canvas').click(function(e){
          var x = e.clientX;
          var y = e.clientY;
          
          for (var i = 0; i < redCoords.length; i++) {
            if(Math.pow(x - redCoords[i][0],2) + Math.pow(y - redCoords[i][1],2) < Math.pow(20,2)) {
              makeWhiteCircle(redCoords[i][0], redCoords[i][1], 21);
              console.log('clicked ' + x + ' ' + y);
              // send click to large display
              socket.send("{\"x\" : " + x + ", \"y\" : " + y + ", \"uid\" : " + uid + "}" );
            }
          }
        });
      });
      socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
      };
  }

  if(size=='large') {
    socket.onmessage = function(receivedMessage) {
    var received = JSON.parse(receivedMessage.data);
    console.log("Received: " + JSON.stringify(received));
    // You will probably want to add some code here to draw more lines.


    //NEW HERE
    var x = received.x;
    var y = received.y;
    var newRedCircle = new redCircle(x,y);
        

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
  }
}


  


</script>
</html>
