{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>4.9 Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="canvas" width="600px" height="1000px"></canvas>
</body>
<script>
  


  function init() {
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var button = document.getElementById("refresh");
    var redCoords = [];
    var redCircles = [];

    // TARGET / HIDDEN OBJECT
    redCircle = function() {
        var x = Math.floor(Math.random()*1000);
        var y = Math.floor(Math.random()*2000);
        var radius = Math.floor(20);

        redCoords.push([x, y]);

        var r = Math.floor(Math.random()*255);
        var g = Math.floor(Math.random()*255);
        var b = Math.floor(Math.random()*255);

        ctx.beginPath();
        ctx.arc(x,y,radius,Math.PI*2,0,false);
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.closePath();
        this.clicked=function(){
          ctx.fillStyle='black';
          ctx.fill();
        }
      //}
    }

    // COVERS HIDDEN OBJECTS WHEN FOUND
    function makeWhiteCircle(x, y, radius) {
      ctx.beginPath();
      ctx.arc(x, y, radius, Math.PI*2,0,false);
      ctx.fillStyle = 'white';
      ctx.fill();
      ctx.closePath();
    }

    var uid = Date.now() % 10000;
    var color1 = "#" + Math.floor(Math.random()*1000).toString(16);
    var color2 = "#" + Math.floor(Math.random()*1000).toString(16);
    var color3 = "#" + Math.floor(Math.random()*1000).toString(16);
    var myColors = [color1, color2, color3];

    ctx.clearRect(0,0,425,825);

    for(i=0; i<20; i++) {
      var newRedCircle = new redCircle();
      redCircles.push(newRedCircle);
    }

    //MAKES REGULAR NONCLICKABLE OBJECTS
    for(i=0; i<100; i++) {
      const randomColor = myColors[Math.floor(Math.random() * myColors.length)];

      var x = Math.floor(Math.random()*1000);
      var y = Math.floor(Math.random()*1000);
      var radius = Math.floor(20);

      var r = Math.floor(Math.random()*255);
      var g = Math.floor(Math.random()*255);
      var b = Math.floor(Math.random()*255);

      ctx.beginPath();
      ctx.arc(x,y,radius,Math.PI*2,0,false);
      ctx.fillStyle = randomColor;
      ctx.fill();
      ctx.closePath();
    }

    $('#canvas').click(function(e){
      var x = e.clientX;
      var y = e.clientY;

      for (var i = 0; i < redCoords.length; i++) {
        if(Math.pow(x - redCoords[i][0],2) + Math.pow(y - redCoords[i][1],2) < Math.pow(20,2)) {
          makeWhiteCircle(redCoords[i][0], redCoords[i][1], 21);
          console.log('clicked ' + x + ' ' + y);
        }
      }
    });

  }

  $(document).ready(function() {
    init();
  });



</script>
</html>
