{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>4.9 Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="canvas" width="1000px" height="1000px"></canvas>
    <input id="refresh" type="button" value="refresh">
</body>
<script>
  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");
  var button = document.getElementById("refresh");

  var uid = Date.now() % 10000;
  var color1 = "#" + Math.floor(Math.random()*1000).toString(16);
  var color2 = "#" + Math.floor(Math.random()*1000).toString(16);
  var color3 = "#" + Math.floor(Math.random()*1000).toString(16);
  var myColors = [color1, color2, color3];

  var refresh = function() {

  ctx.clearRect(0,0,1000,1000);
  for(i=0; i<100; i++) {
    const randomColor = myColors[Math.floor(Math.random() * myColors.length)];

    var x = Math.floor(Math.random()*1000);
    var y = Math.floor(Math.random()*1000);
    var radius = Math.floor(20);

    var r = Math.floor(Math.random()*255);
    var g = Math.floor(Math.random()*255);
    var b = Math.floor(Math.random()*255);

    ctx.beginPath();
    ctx.arc(x,y,radius,Math.PI*2,0,false);
    ctx.fillStyle = randomColor;
    ctx.fill();
    ctx.closePath();

  }
  }

  refresh();
  button.addEventListener("click", refresh, false);

</script>
</html>
